@font-face {
  font-family: 'Orator Std';
  src: url($font-path + 'orator-std.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coolvetica';
  src: url($font-path + 'coolvetica.ttf');
  font-weight: normal;
  font-style: italic;
}