@font-face {
  font-family: 'Din Alternative';
  src: url($font-path + 'din-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coolvetica';
  src: url($font-path + 'coolvetica.ttf');
  font-weight: normal;
  font-style: italic;
}