footer{
    font-family: $second-font;
    font-size: 10pt;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    a{
      color: #000;
    }
    ul.footer-menu{
      width: 100%;
      font-family: $first-font;
      text-transform: uppercase;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      list-style: none;
      color: #000;
      li.list-item{
        display: inline; 
        padding: 0 5px;
        a{
          color: #000;
          &.right{
            justify-content: flex-end;
          }
          img{
            position: absolute;
            width: 32px;
            margin-left: 239px; 
            bottom: 0px;  
          }
        }

      }
    }
  
  @media(max-width: 1250px) {
    flex-direction: column;
    flex-wrap: wrap;
  }


  .email {
    margin-right: 60px;

    @media(max-width: 1250px) {
      margin-right: 0;
    }

    a {
      color: $dark-grey;
      text-decoration: none;
      text-transform: lowercase;
    }
  }
}
