footer{
    font-family: $second-font;
    font-size: 10pt;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    a{
      color: #000;
    }
    ul.footer-menu{
      width: 100%;
      font-family: $first-font;
      text-transform: uppercase;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      list-style: none;
      color: #000;
      li.list-item{
        display: inline; 
        padding: 0 5px;
        a{
          color: #000;
          &.right{
            justify-content: flex-end;
          }
          img{
            position: absolute;
            width: 32px;
            margin-left: 239px; 
            bottom: 0px;  
          }
        }

      }
    }
  
  @media(max-width: 1250px) {
    flex-direction: column;
    flex-wrap: wrap;
  }


  .email {
    margin-right: 60px;

    @media(max-width: 1250px) {
      margin-right: 0;
    }

    a {
      color: $dark-grey;
      text-decoration: none;
      text-transform: lowercase;
    }
  }
}


.site-footer, .page-wrap:after {
    height: 400px;

    .footer-box {
      display: inline-block;
      height: 166px;
      padding: 27px 50px 27px 0;
      vertical-align: top;
      
      a {
        color: #000;
      }
      .footer-title {
        position: relative;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 1.2125em;
        line-height: 1.04762em;
        color: #000;
        margin-bottom: 14px;
        z-index: 1;
      }
      .footer-list {
        list-style: none;
        margin-left: 0;
      }
    }

    .social-media {
      padding-top: 50px;
      padding-bottom: 20px;
    }
}

.social-media {
  ul{
    &.social-list {
      cursor: default;
      list-style: none;
      padding-left: 0;
      margin: -1em 0 2em -1em;

      li {
        display: inline-block;
        padding: 1em 0 0 1em;
      }
    }
  }
}

.page-center {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #ccc;
    height: 54%;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;

  &_right{
    justify-content: flex-end;
  }
  &_left{
    justify-content: flex-start;
  }
  &-item{
    &--top {
      align-self: flex-start;
    }
    &--bottom {
      align-self: flex-end;
    }
  }
}

