#main {
  align-items: center;
  // background: url($img-path + 'background.jpg') no-repeat center center;
  background-size: cover;
  color: $dark-grey;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;

  #governoaberto {
    img {
      height: 200px;
    }
    color: $black;
    cursor: pointer;
    
    font-size: responsive(26, 70);
    max-width: 980px;
    background: $white;

    .logo {
      height: responsive(24, 74);
      width: auto;
      display: block;
      width: 100%;
      margin-bottom: 24px;
    }

    // div {
    //   width: 100%;
    //   text-align: center;
    // }

    .lading-box{
      
      &__title{
          font-size: 30px;
          text-transform: uppercase;
          font-family: "coolvetica","Nobile Medium";
      }
      &__conteudo{
        font-family: $second-font;
        font-size: 16px;
        padding: 20px 0 20px;
        &-red{
          padding: 20px 0 20px;
           font-family: $second-font;
            color: #ef4136;
            font-size: 16px;
        }
      }
      .btn-opengovern{
        background: $white;
        border: 1px solid $red;
        color: $red;
        text-transform: uppercase;
        margin: 27px 0 27px;

        &:active,
        &:hover{
          background: $red;
          color: $white;
          border: 1px solid $white;
        }
      }
    }
    #timer{
      font-size:  1.500em;
      font-family: $first-font;
      div {
        display: inline-block;
        line-height: 1;
        padding: 10px;
        font-size: 40px;
      }

      span {
        display: block;
        font-size: 20px;
        color: $black;
      }

      
    }
  }
  
}
