#main {
  align-items: center;
  // background: url($img-path + 'background.jpg') no-repeat center center;
  background-size: cover;
  color: $dark-grey;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;

  @media(max-width: 414px) {
    flex-direction: column;
    flex-wrap: wrap;

    .column, .columns {
      width: 100%;
    }
    #governoaberto {
      .lading-box {
        .btn-opengovern {
          justify-content: center;
          display: flex;
        }
      }

      img {
        height: 180px;
        margin: 47px;
      }
    }
  }

  #governoaberto {
    img {
      height: 200px;
    }
    color: $black;
    cursor: pointer;
    
    font-size: responsive(26, 70);
    max-width: 980px;
    background: $white;

    .logo {
      height: responsive(24, 74);
      width: auto;
      display: block;
      width: 100%;
      margin-bottom: 24px;
    }

  

    .lading-box{
      
      &__title{
          font-size: 30px;
          text-transform: uppercase;
          font-family: "coolvetica","Nobile Medium";
      }
      &__conteudo{
        font-family: $second-font;
        font-size: 16px;
        padding: 20px 0 20px;
        &-red{
          padding: 20px 0 20px;
           font-family: $second-font;
            color: #ef4136;
            font-size: 16px;
        }
      }
      .btn-opengovern{
        background: $white;
        border: 1px solid $red;
        color: $red;
        text-transform: uppercase;
        margin: 27px 0 27px;
        font-family: "coolvetica","Nobile Medium";
        
        &:active,
        &:hover{
          background: $red;
          color: $white;
          border: 1px solid $white;
        }
      }
    }
    #timer{
      font-size:  1.500em;
      font-family: $first-font;
      div {
        display: inline-block;
        line-height: 1;
        padding: 10px;
        font-size: 40px;
      }

      span {
        display: block;
        font-size: 20px;
        color: $black;
      }

      
    }
  }
  
}

/** New Page **/
.header-paralax {
  background: url($img-path + 'background_nucleo_one.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  position: fixed;
  height: 436px;
}


.big-picture {
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.conteudo-box {
    margin-top: 202px;
    margin-bottom: 202px;
}

.section-banner{
  // second-image-opengov-rio
  &.big-picture{
    background: url($img-path + 'second-image-opengov-rio.jpg') no-repeat center center fixed;
    max-width: 100%;
    width: auto;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.info-box{
    font-family: "Helvetica";
  &__number{
    font-size: 2.8em;
    font-weight: 600;
  }
  &__title{
    font-family: $first-font;
    font-size: 1.5em;
    margin: 10px 0 0 40px;
    text-transform: uppercase;
  }
  &__content{
    font-size: 12pt;
    line-height: 1.5;
    margin: 10px 40px 50px;
  }
  &__picture{
    img{
      width: 100%;
    }
  }
  &__button{
    background: #ef4136;
    color: #fff;
    margin: 10px 0px 40px 40px;
    text-transform: uppercase;
    &:hover{
      background: #fff;
      color: #ef4136;
      border: 1px solid #ef4136; 
    }
  }
}
.conteudo-principal{
  background: #f3f3f3;
  &--white{
    background: #fff;
  }
}
.social-media{
  .social-list{
    li{
      a{
        color: #000;
        &:hover{
          color: #ef4136; 
        }
      }
    }
  }
}

main.hero {
    background: #fff;
    position: relative;
    top: 530px;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: 170px;
}


.conteudo-principal {
    padding-top: 3.7%;
    text-align: justify;
}


.box {
  flex-direction: row;
  margin: 90px 0 90px 0;
  &__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.9em;  
    font-family: $first-font;
  }

  &__subtitle{
    width: 625px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica";
    margin: 34px 300px 38px;
  }
}
