.mapeando{
  font-family: 'Open Sans', sans-serif;
  .mensagem_principal{
    p {
      padding: 20px 110px 0px 0px;
      text-align: justify;
      color: #fff;
    }
  }
  .info-box__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;

  }
  .perfil_usuarios{
      background: #3da5da;
    .box{
      margin: 90px 0 90px 40px;
      &--mapeando{

      }
      &__title{
        color: #EE2355;
      }
    }
    .content {
      height: 200px;
      background: none;
    }
    .title{
      width: 310px;
      text-align: left;
      text-transform: uppercase;
      line-height: 1.2;
      font-size: 3em;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: #00CFEC;
    color: white;
    font-size: 20px;
    }
  .box{
    &__title{
      padding: 0px 0 32px 0;
      color: #00CFEC;
    }
    &__subtitle{
      width:100%;
      margin: 0;
      line-height: 1.5;
    }
  }
  .hero{
    .content{
      background: #f25;
    }
  }
}
